# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    # проверка json файлов
    -   id: check-json
    # проверка yaml файлов
    -   id: check-yaml
    # проверка toml файлов
    -   id: check-toml
    # предупреждает о добавлении больших файлов в Git
    -   id: check-added-large-files
    # предотвращает сохранение приватных ключей
    - id: detect-private-key
    - id: requirements-txt-fixer
    - id: check-merge-conflict
-   repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
        - id: black
          args: ["--line-length=120"]
          language: python
          types: [python]
-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
        - id: isort
          args: ["--profile", "black", "--filter-files"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v2.2.1
    hooks:
    -   id: autoflake
        args: [--in-place, --remove-all-unused-imports, --remove-unused-variables, --expand-star-imports, --ignore-init-module-imports]
#-   repo: local
#    hooks:
#        - id: docs
#          name: docs
#          entry: generate-doc.sh
#          language: system
#          pass_filenames: false
#          always_run: true
